/*fixed nav*/
body {
  height: 1000px;
}
.fixed-nav {
  background-color: black;
  box-shadow: 1px 1px 5px rgb(45, 44, 44);
  color: white;
  position: fixed;
  top: 1%;
  padding: 0.2%;
  z-index: 1;
}
.course-title-nav {
  font-weight: bold;
}
