.head-section-container {
  background-color: black;
  color: white;
}
.header-course-title {
  font-weight: bold;
  font-size: 200%;
}
.explanation-mark {
  width: 10px;
  margin-right: 9px;
}
.header-container {
  width: 60%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 28%;
}
.header-course-introduction {
  font-size: 130%;
}
.rating-count {
  color: #7697ec;
}
.created-by-author-company {
  color: #7697ec;
}
.world-icon {
  width: 10px;
}
.head-section-course-img {
  display: none;
}
.explanation-mark {
  margin-left: 0px;
  margin-right: 10px;
}
.world-icon {
  margin-left: 10px;
  margin-right: 10px;
}
.subtitle {
  margin-left: 10px;
  margin-right: 10px;
}
.header-price-container {
  display: flex;
  font-weight: bold;
  align-items: baseline;
  display: none;
}
.header-course-price {
  font-size: 200%;
}
.header-course-price-delete {
  text-decoration: line-through;
  margin-left: 1%;
}
.header-buy-now-btn {
  width: 80%;
  background-color: #a435f0;
  font-weight: bold;
  color: white;
  padding: 3%;
}
.header-heart-container {
  border: 1px solid white;
  padding: 4%;
  margin-left: 1%;
}
.header-favorite {
  width: 25px;
  font-size: 150%;
}
.header-buy-now {
  display: none;
}
/*Header course Card*/
.header-course-card {
  width: 350px;
  background-color: black;
  color: black;
  position: absolute;
  left: 70%;
  top: 10%;
}
.header-card-course-img-container {
  width: 350px;
  padding: 0px;
}
.header-card-course-img {
  width: 100%;
}
.sticky-container {
  width: 350px;
  position: fixed;
  top: 15%;
  left: 70%;
  z-index: 2;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 5px rgb(235, 235, 235);
}
.card-price-container {
  display: flex;
  align-items: baseline;
}
.card-course-price {
  font-weight: bold;
  font-size: 250%;
}
.card-course-price-delete {
  text-decoration: line-through;
  color: #707578;
  margin-left: 1%;
}
.card-add-to-cart {
  display: flex;
}
.card-add-to-cart-btn {
  width: 80%;
  background-color: #a435f0;
  font-weight: bold;
  color: white;
  padding: 3%;
}
.card-buy-now-btn {
  width: 100%;
  margin: auto;
  margin-top: 1%;
  padding: 3%;
  color: black;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
}
.card-heart-container {
  border: 1px solid black;
  padding: 4%;
  margin-left: 1%;
}
.card-favorite {
  width: 25px;
  font-size: 150%;
}
.money-back {
  width: 60%;
  margin: auto;
  margin-top: 3%;
  font-size: 85%;
  color: #8f9295;
}
.play-icon,
.file-icon,
.download-icon,
.infinity-icon,
.mobile-icon,
.trophy-icon {
  margin-right: 20px;
  margin-left: 10px;
}
.course-include-title {
  color: #808487;
  font-weight: bold;
}
.try-udemy-business {
  margin-top: 6%;
  margin-bottom: 1%;
  border-top: 1px solid black;
}
.five-or-more {
  color: #7f8386;
  font-weight: bold;
}
.team-access {
  color: #7f8386;
}
.udemy-business-btn {
  padding: 3%;
  width: 70%;
  margin: 5% 6%;
  background-color: white;
  color: black;
  font-weight: bold;
}
@media only screen and (max-width: 1080px) {
  .header-container {
    margin: auto;
  }
  .head-section-course-img {
    display: block;
  }
  .header-buy-now {
    display: block;
    display: flex;
  }
  .header-price-container {
    display: block;
    display: flex;
  }
  .last-world-subtitle {
    flex-direction: column;
  }
  .explanation-mark {
    margin-left: 0px;
    margin-right: 2%;
  }
  .world-icon {
    margin-left: 0px;
    margin-right: 2%;
  }
  .subtitle {
    margin-left: 0px;
    margin-right: 10px;
  }
  .head-seaction-img {
    width: 100%;
    height: 100%;
  }
  .header-course-title {
    font-weight: bold;
    font-size: 150%;
  }
  .header-course-introduction {
    font-size: 90%;
  }
  .header-course-card {
    display: none;
  }
  .sticky-container {
    display: none;
  }
}
@media only screen and (max-width: 540px) {
  .header-course-title {
    font-weight: bold;
    font-size: 110%;
  }
  .ratting-container {
    width: 120%;
  }
  .explanation-mark {
    margin-right: 5%;
  }
  .world-icon {
    margin-right: 5%;
  }
  .subtitle {
    margin-right: 5%;
  }
  .header-favorite {
    width: 20px;
    font-size: 100%;
  }
}
