.instructors-container {
  width: 50%;
  margin-top: 1%;
  margin-left: 190px;
  position: relative;
}
.instructors-text {
  font-weight: bold;
  color: black;
  font-size: 150%;
}
.instructor-name {
  font-weight: bold;
  font-size: 130%;
  text-decoration: underline;
  color: #5624d0;
}
.instructor-intro {
  font-weight: bold;
  color: #6e7377;
}
.instructor-image-rate-students-reviews-courses-container {
  display: flex;
}
.instructor-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
}
.instructor-info-container {
  display: flex;
  align-items: baseline;
}
.instructor-icon {
  width: 10px;
  margin: 0px 20px;
}
.instructor-description-container {
  width: 100%;
  position: relative;
}
@media only screen and (max-width: 1080px) {
  .instructors-container {
    width: 70%;
    margin: auto;
    margin-top: 1%;
  }
}
@media only screen and (max-width: 800px) {
  .instructors-container {
    width: 90%;
    margin: auto;
    margin-top: 1%;
  }
}
@media only screen and (max-width: 600px) {
  .instructors-container {
    width: 100%;
    margin: auto;
    margin-top: 1%;
  }
  .instructor-description-container {
    width: 100%;
    position: relative;
  }
}
