.course {
  width: 100%;
  margin: 0%;
  padding: 0px;
}
.swiper-wrapper {
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
}
.subject-info {
  border: 1px solid black;
  overflow: hidden;
}
.explore-more {
  padding: 1%;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 0px;
}
.explore-more:hover {
  background-color: rgb(219, 211, 211);
}
.subject-header {
  margin: 2%;
}
.course-img {
  width: 100%;
  height: 50%;
  margin: 0px;
}
.card-title {
  font-size: 95%;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
.course-author {
  color: #737873;
  font-size: 80%;
}
.rating {
  color: #b4690e;
  font-weight: bold;
}
.star {
  color: #e59819;
  font-size: 80%;
}
.card-price {
  font-weight: bold;
  margin-right: 1%;
}
.price-delete {
  text-decoration: line-through;
}

/*Swiper css*/
.next {
  width: 40px;
  height: 40px;
  background-image: url("../img/right-icon.png");
  background-size: 100% 100%;
  border: 0px;
  position: absolute;
  right: 0%;
  bottom: 50%;
  z-index: 100;
  opacity: 0.4;
  background-color: transparent;
  border-radius: 100%;
}
.prev {
  width: 40px;
  height: 40px;
  background-image: url("../img/left-icon.png");
  background-size: 100% 100%;
  border: 0px;
  position: absolute;
  left: 0%;
  bottom: 50%;
  z-index: 100;
  opacity: 0.4;
  background-color: transparent;
  border-radius: 100%;
}
.prev:hover,
.next:hover {
  opacity: 1;
}
.card:hover {
  background-color: rgb(244, 238, 239);
  transition: 1s;
}

.loader-container {
  width: 75%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgb(252, 250, 250);
  z-index: 1;
}
.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card-link {
  text-decoration: none;
}
