.course {
  width: 100%;
  margin: 0%;
  padding: 0px;
}
.swiper-wrapper {
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
}
.subject-info {
  border: 1px solid black;
  overflow: hidden;
}
.explore-more {
  padding: 1%;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 0px;
}
.explore-more:hover {
  background-color: rgb(219, 211, 211);
}
.subject-header {
  margin: 2%;
}
.course-img {
  width: 100%;
  height: 55%;
  margin: 0px;
}
.card-title {
  font-size: 95%;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
.course-author {
  color: #737873;
  font-size: 80%;
}
.rating {
  color: #b4690e;
  font-weight: bold;
}
.star {
  color: #e59819;
  font-size: 80%;
}
.card-price {
  font-weight: bold;
  margin-right: 1%;
}
.price-delete {
  text-decoration: line-through;
}
.swiper {
  position: relative;
}
.next {
  width: 40px;
  height: 40px;
  background-image: url("../img/right-icon.png");
  background-size: 100% 100%;
  border: 0px;
  position: absolute;
  right: 0%;
  bottom: 50%;
  z-index: 100;
  opacity: 0.4;
  background-color: transparent;
  border-radius: 100%;
}
.prev {
  width: 40px;
  height: 40px;
  background-image: url("../img/left-icon.png");
  background-size: 100% 100%;
  border: 0px;
  position: absolute;
  left: 0%;
  bottom: 50%;
  z-index: 100;
  opacity: 0.4;
  background-color: transparent;
  border-radius: 100%;
}
.prev:hover,
.next:hover {
  opacity: 1;
}
.card:hover {
  background-color: rgb(244, 238, 239);
  transition: 1s;
}

@media only screen and (max-width: 570px) {
  .subject-info {
    width: 80%;
    margin: auto;
  }
  .course {
    width: 80%;
    margin: auto;
  }
}
